In [33]:
# Import python packages
import numpy as np
import pandas as pd
from datetime import datetime, timedelta

In [34]:
# Read uberdrive.csv data
uberDriveDataFrame = pd.read_csv('uberdrive.csv')
print ("UberDrive columns are : {0}" .format(uberDriveDataFrame.columns))
print ("UberDrive data: \n{0}" .format(uberDriveDataFrame.iloc[4]))
print ("Shape of UberDrive : {0}" .format(uberDriveDataFrame.shape))

# Read Unserdrive_Miles.csv
uberDriveMilesDataFrame = pd.read_csv('UberDrive_Miles.csv')
print ("UberDrive miles columns are : {0}" .format(uberDriveMilesDataFrame.columns))
print ("UberDrive miles data: \n{0}" .format(uberDriveMilesDataFrame.head(3)))
print ("Shape of UberDrive Miles : {0}" .format(uberDriveMilesDataFrame.shape))

UberDrive columns are : Index(['Trip_Id', 'START_DATE*', 'END_DATE*', 'CATEGORY*', 'START*', 'STOP*',
       'PURPOSE*'],
      dtype='object')
UberDrive data:
Trip_Id                       5
START_DATE*    01-06-2016 14:42
END_DATE*      01-06-2016 15:49
CATEGORY*              Business
START*              Fort Pierce
STOP*           West Palm Beach
PURPOSE*         Customer Visit
Name: 4, dtype: object
Shape of UberDrive : (1155, 7)
UberDrive miles columns are : Index(['Trip_Id', 'MILES*'], dtype='object')
UberDrive miles data:
   Trip_Id  MILES*
0        1     5.1
1        2     5.0
2        3     4.8
Shape of UberDrive Miles : (1155, 2)

In [35]:
# Findout data type of each column
uberDriveDataFrame.info()
uberDriveMilesDataFrame.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1155 entries, 0 to 1154
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Trip_Id      1155 non-null   int64
 1   START_DATE*  1155 non-null   object
 2   END_DATE*    1155 non-null   object
 3   CATEGORY*    1155 non-null   object
 4   START*       1155 non-null   object
 5   STOP*        1155 non-null   object
 6   PURPOSE*     653 non-null    object
dtypes: int64(1), object(6)
memory usage: 63.3+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1155 entries, 0 to 1154
Data columns (total 2 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Trip_Id  1155 non-null   int64
 1   MILES*   1155 non-null   float64
dtypes: float64(1), int64(1)
memory usage: 18.2 KB

In [36]:
# Replace the character * from column name
uberDriveDataFrame.columns = uberDriveDataFrame.columns.str.replace("*","")
uberDriveMilesDataFrame.columns = uberDriveMilesDataFrame.columns.str.replace("*","")

In [37]:
# get numerical overview of numerical tyoe columns
print ("Description of uberDriveDataFrame : {0}" .format(uberDriveDataFrame.describe()))
print ("Description of uberDriveMilesDataFrame : {0}" .format(uberDriveMilesDataFrame.describe()))

Description of uberDriveDataFrame :            Trip_Id
count  1155.000000
mean    578.000000
std     333.564087
min       1.000000
25%     289.500000
50%     578.000000
75%     866.500000
max    1155.000000
Description of uberDriveMilesDataFrame :            Trip_Id        MILES
count  1155.000000  1155.000000
mean    578.000000    10.566840
std     333.564087    21.579106
min       1.000000     0.500000
25%     289.500000     2.900000
50%     578.000000     6.000000
75%     866.500000    10.400000
max    1155.000000   310.300000

In [38]:
# Findout data type of each column
uberDriveDataFrame.info()
uberDriveMilesDataFrame.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1155 entries, 0 to 1154
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Trip_Id     1155 non-null   int64
 1   START_DATE  1155 non-null   object
 2   END_DATE    1155 non-null   object
 3   CATEGORY    1155 non-null   object
 4   START       1155 non-null   object
 5   STOP        1155 non-null   object
 6   PURPOSE     653 non-null    object
dtypes: int64(1), object(6)
memory usage: 63.3+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1155 entries, 0 to 1154
Data columns (total 2 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Trip_Id  1155 non-null   int64
 1   MILES    1155 non-null   float64
dtypes: float64(1), int64(1)
memory usage: 18.2 KB

In [39]:
print("UberDrive data with PURPOSE as null : \n{0}" 
    .format(uberDriveDataFrame[uberDriveDataFrame['PURPOSE'].isnull()].head()))

print("UberDrive Miles data with miles > 30 : \n{0}" 
    .format(uberDriveMilesDataFrame[uberDriveMilesDataFrame.MILES > 30].head()))

UberDrive data with PURPOSE as null :
    Trip_Id        START_DATE          END_DATE  CATEGORY        START  \
1         2  01-02-2016 01:25  01-02-2016 01:37  Business  Fort Pierce
32       33    1/19/2016 9:09    1/19/2016 9:23  Business  Whitebridge
85       86  02-09-2016 10:54  02-09-2016 11:07  Personal  Whitebridge
86       87  02-09-2016 11:43  02-09-2016 11:50  Personal   Northwoods
87       88  02-09-2016 13:36  02-09-2016 13:52  Personal   Tanglewood

                   STOP PURPOSE
1           Fort Pierce     NaN
32  Lake Wellingborough     NaN
85           Northwoods     NaN
86           Tanglewood     NaN
87              Preston     NaN
UberDrive Miles data with miles > 30 :
     Trip_Id  MILES
4          5   63.7
36        37   40.2
108      109   43.7
232      233  136.0
233      234   30.2

In [40]:
# Dropping row with null values
uberDriveDataFrame = uberDriveDataFrame.dropna()
uberDriveMilesDataFrame = uberDriveMilesDataFrame.dropna()

In [41]:
# Findout data type of each column
uberDriveDataFrame.info()
uberDriveMilesDataFrame.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 653 entries, 0 to 1154
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Trip_Id     653 non-null    int64
 1   START_DATE  653 non-null    object
 2   END_DATE    653 non-null    object
 3   CATEGORY    653 non-null    object
 4   START       653 non-null    object
 5   STOP        653 non-null    object
 6   PURPOSE     653 non-null    object
dtypes: int64(1), object(6)
memory usage: 40.8+ KB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 1155 entries, 0 to 1154
Data columns (total 2 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Trip_Id  1155 non-null   int64
 1   MILES    1155 non-null   float64
dtypes: float64(1), int64(1)
memory usage: 27.1 KB

In [42]:
# Printing unique start and stop points
print ('Unique start points counts : {0} and values are : \n{1}' .format(uberDriveDataFrame.START.nunique(),uberDriveDataFrame.START.unique()))
print ('Unique stop points counts: {0} and values are : \n{1}' .format(uberDriveDataFrame.STOP.nunique(), uberDriveDataFrame.STOP.unique()))

Unique start points counts : 131 and values are :
['Fort Pierce' 'West Palm Beach' 'Cary' 'Jamaica' 'New York' 'Elmhurst'
 'Midtown' 'East Harlem' 'Flatiron District' 'Midtown East'
 'Hudson Square' 'Lower Manhattan' "Hell's Kitchen" 'Downtown' 'Gulfton'
 'Houston' 'Eagan Park' 'Morrisville' 'Durham' 'Farmington Woods'
 'Lake Wellingborough' 'Fayetteville Street' 'Raleigh' 'Whitebridge'
 'Hazelwood' 'Fairmont' 'Meredith Townes' 'Apex' 'Chapel Hill'
 'Northwoods' 'Edgehill Farms' 'Eastgate' 'East Elmhurst'
 'Long Island City' 'Katunayaka' 'Colombo' 'Nugegoda' 'Unknown Location'
 'Islamabad' 'R?walpindi' 'Noorpur Shahan' 'Preston' 'Heritage Pines'
 'Tanglewood' 'Waverly Place' 'Wayne Ridge' 'Westpark Place' 'East Austin'
 'The Drag' 'South Congress' 'Georgian Acres' 'North Austin'
 'West University' 'Austin' 'Katy' 'Sharpstown' 'Sugar Land' 'Galveston'
 'Port Bolivar' 'Washington Avenue' 'Briar Meadow' 'Latta' 'Jacksonville'
 'Lake Reams' 'Orlando' 'Kissimmee' 'Daytona Beach' 'Ridgeland' 'Florence'
 'Meredith' 'Holly Springs' 'Chessington' 'Burtrose' 'Parkway' 'Mcvan'
 'Capitol One' 'University District' 'Seattle' 'Redmond' 'Bellevue'
 'San Francisco' 'Palo Alto' 'Sunnyvale' 'Newark' 'Menlo Park' 'Old City'
 'Savon Height' 'Kilarney Woods' 'Townes at Everett Crossing'
 'Huntington Woods' 'Weston' 'Seaport' 'Medical Centre' 'Rose Hill' 'Soho'
 'Tribeca' 'Financial District' 'Oakland' 'Emeryville' 'Berkeley' 'Kenner'
 'CBD' 'Lower Garden District' 'Storyville' 'New Orleans' 'Chalmette'
 'Arabi' 'Pontchartrain Shores' 'Metairie' 'Summerwinds' 'Parkwood'
 'Banner Elk' 'Boone' 'Stonewater' 'Lexington Park at Amberly'
 'Winston Salem' 'Asheville' 'Topton' 'Renaissance' 'Santa Clara'
 'Ingleside' 'West Berkeley' 'Mountain View' 'El Cerrito' 'Krendle Woods'
 'Fuquay-Varina' 'Rawalpindi' 'Lahore' 'Kar?chi' 'Katunayake' 'Gampaha']
Unique stop points counts: 137 and values are :
['Fort Pierce' 'West Palm Beach' 'Palm Beach' 'Cary' 'Morrisville'
 'New York' 'Queens' 'East Harlem' 'NoMad' 'Midtown' 'Midtown East'
 'Hudson Square' 'Lower Manhattan' "Hell's Kitchen" 'Queens County'
 'Gulfton' 'Downtown' 'Houston' 'Jamestown Court' 'Durham' 'Whitebridge'
 'Raleigh' 'Umstead' 'Hazelwood' 'Westpark Place' 'Meredith Townes'
 'Leesville Hollow' 'Apex' 'Chapel Hill' 'Williamsburg Manor'
 'Macgregor Downs' 'Edgehill Farms' 'Walnut Terrace' 'Midtown West'
 'Long Island City' 'Jamaica' 'Unknown Location' 'Colombo' 'Nugegoda'
 'Katunayaka' 'Islamabad' 'R?walpindi' 'Noorpur Shahan' 'Heritage Pines'
 'Tanglewood' 'Waverly Place' 'Wayne Ridge' 'Northwoods'
 'Depot Historic District' 'West University' 'Congress Ave District'
 'Convention Center District' 'North Austin' 'The Drag' 'Coxville'
 'South Congress' 'Katy' 'Alief' 'Sharpstown' 'Sugar Land' 'Galveston'
 'Port Bolivar' 'Washington Avenue' 'Greater Greenspoint' 'Latta'
 'Jacksonville' 'Kissimmee' 'Lake Reams' 'Orlando' 'Daytona Beach'
 'Ridgeland' 'Florence' 'Cedar Hill' 'Holly Springs' 'Harden Place'
 'Chessington' 'Burtrose' 'Parkway' 'Capitol One' 'University District'
 'Redmond' 'Bellevue' 'Seattle' 'Mcvan' 'Palo Alto' 'Sunnyvale' 'Newark'
 'Menlo Park' 'San Francisco' 'Preston' 'Parkway Museums' 'Hog Island'
 'Savon Height' 'Kildaire Farms' 'Weston' 'Gramercy-Flatiron' 'Tudor City'
 'Soho' 'Tribeca' 'Financial District' 'Kips Bay' 'Emeryville' 'Berkeley'
 'Oakland' 'Bay Farm Island' 'New Orleans' 'Lower Garden District'
 'Lakeview' 'Faubourg Marigny' 'Chalmette' 'Arabi' 'Metairie'
 'Pontchartrain Shores' 'Kenner' 'Summerwinds' 'Parkwood' 'Banner Elk'
 'Boone' 'Stonewater' 'Lexington Park at Amberly' 'Winston Salem'
 'Asheville' 'Topton' 'Hayesville' 'Agnew' 'Potrero Flats' 'South'
 'Southside' 'Mountain View' 'El Cerrito' 'Wake Co.' 'Fuquay-Varina'
 'Rawalpindi' 'Lahore' 'Kar?chi' 'Gampaha' 'Ilukwatta']

In [43]:
# Let's identify popular start points
print ("Value counts of each value of start points : \n{0}" .format(uberDriveDataFrame.START.value_counts().head(10)))

# Let's identify popular stop points
print ("Value counts of each value of stop points : \n{0}" .format(uberDriveDataFrame.STOP.value_counts().head(10)))

# Let's find out the dataset where start and stop points are same
print ("Data set with same start and stop points : \n{0}" 
     .format(uberDriveDataFrame[uberDriveDataFrame.START == uberDriveDataFrame.STOP].head()))

Value counts of each value of start points :
Cary                161
Unknown Location     55
Morrisville          54
Whitebridge          36
Durham               30
Kar?chi              26
Raleigh              21
Lahore               19
Islamabad            15
Midtown              11
Name: START, dtype: int64
Value counts of each value of stop points :
Cary                155
Morrisville          60
Unknown Location     56
Whitebridge          37
Durham               30
Kar?chi              26
Raleigh              21
Lahore               19
Islamabad            14
Apex                 11
Name: STOP, dtype: int64
Data set with same start and stop points :
   Trip_Id        START_DATE          END_DATE  CATEGORY            START  \
0        1  01-01-2016 21:11  01-01-2016 21:17  Business      Fort Pierce
2        3  01-02-2016 20:25  01-02-2016 20:38  Business      Fort Pierce
3        4  01-05-2016 17:31  01-05-2016 17:45  Business      Fort Pierce
5        6  01-06-2016 17:15  01-06-2016 17:19  Business  West Palm Beach
7        8  01-07-2016 13:27  01-07-2016 13:33  Business             Cary

              STOP          PURPOSE
0      Fort Pierce   Meal/Entertain
2      Fort Pierce  Errand/Supplies
3      Fort Pierce          Meeting
5  West Palm Beach   Meal/Entertain
7             Cary          Meeting

In [44]:
# Let's merge two data set
CompleteUberData = pd.merge(uberDriveDataFrame, uberDriveMilesDataFrame, how = 'left', on = 'Trip_Id')
print ("First 10 entries of merged data frame : \n{0}" .format(CompleteUberData.head(10)))

print("Start points with most miles : \n{0}" .format(CompleteUberData.groupby('START')['MILES'].sum().sort_values(ascending = False).head(10)))

First 10 entries of merged data frame :
   Trip_Id        START_DATE          END_DATE  CATEGORY            START  \
0        1  01-01-2016 21:11  01-01-2016 21:17  Business      Fort Pierce
1        3  01-02-2016 20:25  01-02-2016 20:38  Business      Fort Pierce
2        4  01-05-2016 17:31  01-05-2016 17:45  Business      Fort Pierce
3        5  01-06-2016 14:42  01-06-2016 15:49  Business      Fort Pierce
4        6  01-06-2016 17:15  01-06-2016 17:19  Business  West Palm Beach
5        7  01-06-2016 17:30  01-06-2016 17:35  Business  West Palm Beach
6        8  01-07-2016 13:27  01-07-2016 13:33  Business             Cary
7        9  01-10-2016 08:05  01-10-2016 08:25  Business             Cary
8       10  01-10-2016 12:17  01-10-2016 12:44  Business          Jamaica
9       11  01-10-2016 15:08  01-10-2016 15:51  Business         New York

              STOP          PURPOSE  MILES
0      Fort Pierce   Meal/Entertain    5.1
1      Fort Pierce  Errand/Supplies    4.8
2      Fort Pierce          Meeting    4.7
3  West Palm Beach   Customer Visit   63.7
4  West Palm Beach   Meal/Entertain    4.3
5       Palm Beach          Meeting    7.1
6             Cary          Meeting    0.8
7      Morrisville          Meeting    8.3
8         New York   Customer Visit   16.5
9           Queens          Meeting   10.8
Start points with most miles :
START
Cary                1443.8
Unknown Location     573.2
Jacksonville         375.2
Raleigh              322.2
Latta                310.3
Durham               301.0
Morrisville          287.0
Whitebridge          181.8
Boone                180.2
Florence             159.3
Name: MILES, dtype: float64

In [45]:
# Find the top10 start stop pair that have the most miles covered between them ever.
CompleteUberData = CompleteUberData[CompleteUberData.START != 'Unknown Location']
CompleteUberData = CompleteUberData[CompleteUberData.STOP != 'Unknown Location']

In [46]:
filteredData = CompleteUberData.groupby(['START', 'STOP'])['MILES'].sum().sort_values(ascending = False).head(10)
filteredData = filteredData.reset_index()
filteredData['Start-Stop'] = filteredData['START'] + '-' + filteredData['STOP']
print (filteredData)

          START          STOP  MILES              Start-Stop
0          Cary        Durham  312.3             Cary-Durham
1         Latta  Jacksonville  310.3      Latta-Jacksonville
2        Durham          Cary  298.4             Durham-Cary
3          Cary   Morrisville  293.7        Cary-Morrisville
4       Raleigh          Cary  269.5            Raleigh-Cary
5   Morrisville          Cary  250.6        Morrisville-Cary
6          Cary          Cary  233.9               Cary-Cary
7          Cary       Raleigh  230.4            Cary-Raleigh
8  Jacksonville     Kissimmee  201.0  Jacksonville-Kissimmee
9         Boone          Cary  180.2              Boone-Cary

In [47]:
# Let's merge two data set
CompleteUberData = pd.merge(uberDriveDataFrame, uberDriveMilesDataFrame, how = 'left', on = 'Trip_Id')

In [48]:
print ("CompleteUberData columns : \n{0}" .format(CompleteUberData.columns))
CompleteUberData.info()

CompleteUberData['start_dt'] = pd.to_datetime(CompleteUberData.START_DATE)
CompleteUberData['stop_dt'] = pd.to_datetime(CompleteUberData.END_DATE)

print ("First 5 entries of merged data : \n{0}" .format(CompleteUberData))
CompleteUberData.info()

CompleteUberData columns :
Index(['Trip_Id', 'START_DATE', 'END_DATE', 'CATEGORY', 'START', 'STOP',
       'PURPOSE', 'MILES'],
      dtype='object')
<class 'pandas.core.frame.DataFrame'>
Int64Index: 653 entries, 0 to 652
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Trip_Id     653 non-null    int64
 1   START_DATE  653 non-null    object
 2   END_DATE    653 non-null    object
 3   CATEGORY    653 non-null    object
 4   START       653 non-null    object
 5   STOP        653 non-null    object
 6   PURPOSE     653 non-null    object
 7   MILES       653 non-null    float64
dtypes: float64(1), int64(1), object(6)
memory usage: 45.9+ KB
First 5 entries of merged data :
     Trip_Id        START_DATE          END_DATE  CATEGORY             START  \
0          1  01-01-2016 21:11  01-01-2016 21:17  Business       Fort Pierce
1          3  01-02-2016 20:25  01-02-2016 20:38  Business       Fort Pierce
2          4  01-05-2016 17:31  01-05-2016 17:45  Business       Fort Pierce
3          5  01-06-2016 14:42  01-06-2016 15:49  Business       Fort Pierce
4          6  01-06-2016 17:15  01-06-2016 17:19  Business   West Palm Beach
..       ...               ...               ...       ...               ...
648     1151   12/31/2016 1:07   12/31/2016 1:14  Business           Kar?chi
649     1152  12/31/2016 13:24  12/31/2016 13:42  Business           Kar?chi
650     1153  12/31/2016 15:03  12/31/2016 15:38  Business  Unknown Location
651     1154  12/31/2016 21:32  12/31/2016 21:50  Business        Katunayake
652     1155  12/31/2016 22:08  12/31/2016 23:51  Business           Gampaha

                 STOP          PURPOSE  MILES            start_dt  \
0         Fort Pierce   Meal/Entertain    5.1 2016-01-01 21:11:00
1         Fort Pierce  Errand/Supplies    4.8 2016-01-02 20:25:00
2         Fort Pierce          Meeting    4.7 2016-01-05 17:31:00
3     West Palm Beach   Customer Visit   63.7 2016-01-06 14:42:00
4     West Palm Beach   Meal/Entertain    4.3 2016-01-06 17:15:00
..                ...              ...    ...                 ...
648           Kar?chi          Meeting    0.7 2016-12-31 01:07:00
649  Unknown Location   Temporary Site    3.9 2016-12-31 13:24:00
650  Unknown Location          Meeting   16.2 2016-12-31 15:03:00
651           Gampaha   Temporary Site    6.4 2016-12-31 21:32:00
652         Ilukwatta   Temporary Site   48.2 2016-12-31 22:08:00

                stop_dt
0   2016-01-01 21:17:00
1   2016-01-02 20:38:00
2   2016-01-05 17:45:00
3   2016-01-06 15:49:00
4   2016-01-06 17:19:00
..                  ...
648 2016-12-31 01:14:00
649 2016-12-31 13:42:00
650 2016-12-31 15:38:00
651 2016-12-31 21:50:00
652 2016-12-31 23:51:00

[653 rows x 10 columns]
<class 'pandas.core.frame.DataFrame'>
Int64Index: 653 entries, 0 to 652
Data columns (total 10 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Trip_Id     653 non-null    int64
 1   START_DATE  653 non-null    object
 2   END_DATE    653 non-null    object
 3   CATEGORY    653 non-null    object
 4   START       653 non-null    object
 5   STOP        653 non-null    object
 6   PURPOSE     653 non-null    object
 7   MILES       653 non-null    float64
 8   start_dt    653 non-null    datetime64[ns]
 9   stop_dt     653 non-null    datetime64[ns]
dtypes: datetime64[ns](2), float64(1), int64(1), object(6)
memory usage: 56.1+ KB

In [49]:
CompleteUberData['start_day'] = CompleteUberData['start_dt'].dt.day
CompleteUberData['start_hour'] = CompleteUberData['start_dt'].dt.hour
CompleteUberData['start_month'] = CompleteUberData['start_dt'].dt.month
CompleteUberData['d_of_week'] = CompleteUberData['start_dt'].dt.dayofweek

print ("First 5 entries of merged dataframe : \n{0}" .format(CompleteUberData.head().T))

First 5 entries of merged dataframe :
                               0                    1                    2  \
Trip_Id                        1                    3                    4
START_DATE      01-01-2016 21:11     01-02-2016 20:25     01-05-2016 17:31
END_DATE        01-01-2016 21:17     01-02-2016 20:38     01-05-2016 17:45
CATEGORY                Business             Business             Business
START                Fort Pierce          Fort Pierce          Fort Pierce
STOP                 Fort Pierce          Fort Pierce          Fort Pierce
PURPOSE           Meal/Entertain      Errand/Supplies              Meeting
MILES                        5.1                  4.8                  4.7
start_dt     2016-01-01 21:11:00  2016-01-02 20:25:00  2016-01-05 17:31:00
stop_dt      2016-01-01 21:17:00  2016-01-02 20:38:00  2016-01-05 17:45:00
start_day                      1                    2                    5
start_hour                    21                   20                   17
start_month                    1                    1                    1
d_of_week                      4                    5                    1

                               3                    4
Trip_Id                        5                    6
START_DATE      01-06-2016 14:42     01-06-2016 17:15
END_DATE        01-06-2016 15:49     01-06-2016 17:19
CATEGORY                Business             Business
START                Fort Pierce      West Palm Beach
STOP             West Palm Beach      West Palm Beach
PURPOSE           Customer Visit       Meal/Entertain
MILES                       63.7                  4.3
start_dt     2016-01-06 14:42:00  2016-01-06 17:15:00
stop_dt      2016-01-06 15:49:00  2016-01-06 17:19:00
start_day                      6                    6
start_hour                    14                   17
start_month                    1                    1
d_of_week                      2                    2

In [50]:
CompleteUberData['weekday'] = CompleteUberData['start_dt'].apply(lambda x : datetime.strftime(x, "%a"))
print ("First 5 entries of merged data : \n{0}" .format(CompleteUberData.head().T))

First 5 entries of merged data :
                               0                    1                    2  \
Trip_Id                        1                    3                    4
START_DATE      01-01-2016 21:11     01-02-2016 20:25     01-05-2016 17:31
END_DATE        01-01-2016 21:17     01-02-2016 20:38     01-05-2016 17:45
CATEGORY                Business             Business             Business
START                Fort Pierce          Fort Pierce          Fort Pierce
STOP                 Fort Pierce          Fort Pierce          Fort Pierce
PURPOSE           Meal/Entertain      Errand/Supplies              Meeting
MILES                        5.1                  4.8                  4.7
start_dt     2016-01-01 21:11:00  2016-01-02 20:25:00  2016-01-05 17:31:00
stop_dt      2016-01-01 21:17:00  2016-01-02 20:38:00  2016-01-05 17:45:00
start_day                      1                    2                    5
start_hour                    21                   20                   17
start_month                    1                    1                    1
d_of_week                      4                    5                    1
weekday                      Fri                  Sat                  Tue

                               3                    4
Trip_Id                        5                    6
START_DATE      01-06-2016 14:42     01-06-2016 17:15
END_DATE        01-06-2016 15:49     01-06-2016 17:19
CATEGORY                Business             Business
START                Fort Pierce      West Palm Beach
STOP             West Palm Beach      West Palm Beach
PURPOSE           Customer Visit       Meal/Entertain
MILES                       63.7                  4.3
start_dt     2016-01-06 14:42:00  2016-01-06 17:15:00
stop_dt      2016-01-06 15:49:00  2016-01-06 17:19:00
start_day                      6                    6
start_hour                    14                   17
start_month                    1                    1
d_of_week                      2                    2
weekday                      Wed                  Wed

In [51]:
CompleteUberData['cal_month'] = CompleteUberData['start_dt'].apply(lambda x : datetime.strftime(x , "%b"))
print ("First 5 entries of merged data : \n{0}" .format(CompleteUberData.head().T))

First 5 entries of merged data :
                               0                    1                    2  \
Trip_Id                        1                    3                    4
START_DATE      01-01-2016 21:11     01-02-2016 20:25     01-05-2016 17:31
END_DATE        01-01-2016 21:17     01-02-2016 20:38     01-05-2016 17:45
CATEGORY                Business             Business             Business
START                Fort Pierce          Fort Pierce          Fort Pierce
STOP                 Fort Pierce          Fort Pierce          Fort Pierce
PURPOSE           Meal/Entertain      Errand/Supplies              Meeting
MILES                        5.1                  4.8                  4.7
start_dt     2016-01-01 21:11:00  2016-01-02 20:25:00  2016-01-05 17:31:00
stop_dt      2016-01-01 21:17:00  2016-01-02 20:38:00  2016-01-05 17:45:00
start_day                      1                    2                    5
start_hour                    21                   20                   17
start_month                    1                    1                    1
d_of_week                      4                    5                    1
weekday                      Fri                  Sat                  Tue
cal_month                    Jan                  Jan                  Jan

                               3                    4
Trip_Id                        5                    6
START_DATE      01-06-2016 14:42     01-06-2016 17:15
END_DATE        01-06-2016 15:49     01-06-2016 17:19
CATEGORY                Business             Business
START                Fort Pierce      West Palm Beach
STOP             West Palm Beach      West Palm Beach
PURPOSE           Customer Visit       Meal/Entertain
MILES                       63.7                  4.3
start_dt     2016-01-06 14:42:00  2016-01-06 17:15:00
stop_dt      2016-01-06 15:49:00  2016-01-06 17:19:00
start_day                      6                    6
start_hour                    14                   17
start_month                    1                    1
d_of_week                      2                    2
weekday                      Wed                  Wed
cal_month                    Jan                  Jan

In [52]:
busiestmonthByDrives = CompleteUberData.groupby('cal_month')['Trip_Id'].count().sort_values(ascending = False)
print ("Busiest month in terms of drives : \n{0}" .format(busiestmonthByDrives.head()))

Busiest month in terms of drives :
cal_month
Dec    134
Feb     82
Jun     73
Mar     71
Nov     60
Name: Trip_Id, dtype: int64

In [53]:
busiestmonthByMiles = CompleteUberData.groupby('cal_month')['MILES'].sum().sort_values(ascending = False)
print ("Busiest month in terms of miles : \n{0}" .format(busiestmonthByMiles.head()))

Busiest month in terms of miles :
cal_month
Mar    1455.9
Apr    1094.9
Dec     924.4
Feb     727.2
Nov     635.4
Name: MILES, dtype: float64

In [54]:
busiestDayByRides = CompleteUberData.groupby('weekday')['Trip_Id'].count().sort_values(ascending = False)
print ("Busiest Day in terms of Ride numbers : \n{0}" .format(busiestDayByRides.head()))

Busiest Day in terms of Ride numbers :
weekday
Fri    125
Tue     94
Thu     92
Sun     87
Mon     87
Name: Trip_Id, dtype: int64

In [55]:
peakHours = CompleteUberData.groupby('start_hour')['start_hour'].count()
print ("Peak hours : \n{0}" .format(peakHours))

Peak hours :
start_hour
0     13
1      4
2      1
3      3
5      3
6      2
7      8
8     17
9     26
10    33
11    39
12    43
13    55
14    52
15    51
16    45
17    51
18    51
19    35
20    45
21    34
22    21
23    21
Name: start_hour, dtype: int64

In [56]:
# For practice - figure out the trips that are starting and ending at the same
# time (0 minutes elapsed).

CompleteUberData['Diff'] = CompleteUberData.stop_dt - CompleteUberData.start_dt
print ("Trips where starting and ending is same : \n{0}" .format(CompleteUberData.head().T))

Trips where starting and ending is same :
                               0                    1                    2  \
Trip_Id                        1                    3                    4
START_DATE      01-01-2016 21:11     01-02-2016 20:25     01-05-2016 17:31
END_DATE        01-01-2016 21:17     01-02-2016 20:38     01-05-2016 17:45
CATEGORY                Business             Business             Business
START                Fort Pierce          Fort Pierce          Fort Pierce
STOP                 Fort Pierce          Fort Pierce          Fort Pierce
PURPOSE           Meal/Entertain      Errand/Supplies              Meeting
MILES                        5.1                  4.8                  4.7
start_dt     2016-01-01 21:11:00  2016-01-02 20:25:00  2016-01-05 17:31:00
stop_dt      2016-01-01 21:17:00  2016-01-02 20:38:00  2016-01-05 17:45:00
start_day                      1                    2                    5
start_hour                    21                   20                   17
start_month                    1                    1                    1
d_of_week                      4                    5                    1
weekday                      Fri                  Sat                  Tue
cal_month                    Jan                  Jan                  Jan
Diff             0 days 00:06:00      0 days 00:13:00      0 days 00:14:00

                               3                    4
Trip_Id                        5                    6
START_DATE      01-06-2016 14:42     01-06-2016 17:15
END_DATE        01-06-2016 15:49     01-06-2016 17:19
CATEGORY                Business             Business
START                Fort Pierce      West Palm Beach
STOP             West Palm Beach      West Palm Beach
PURPOSE           Customer Visit       Meal/Entertain
MILES                       63.7                  4.3
start_dt     2016-01-06 14:42:00  2016-01-06 17:15:00
stop_dt      2016-01-06 15:49:00  2016-01-06 17:19:00
start_day                      6                    6
start_hour                    14                   17
start_month                    1                    1
d_of_week                      2                    2
weekday                      Wed                  Wed
cal_month                    Jan                  Jan
Diff             0 days 01:07:00      0 days 00:04:00

In [57]:
CompleteUberData['Total_Seconds_Diff'] = CompleteUberData['Diff'].apply(lambda x: timedelta.total_seconds(x))
dataSetWith0Diff = CompleteUberData[CompleteUberData.Total_Seconds_Diff == 0]
print ("dataSetWith0Diff : \n{0}" .format(dataSetWith0Diff))

dataSetWith0Diff :
Empty DataFrame
Columns: [Trip_Id, START_DATE, END_DATE, CATEGORY, START, STOP, PURPOSE, MILES, start_dt, stop_dt, start_day, start_hour, start_month, d_of_week, weekday, cal_month, Diff, Total_Seconds_Diff]
Index: []

In [58]:
CompleteUberData['Total_Hours_diff'] = CompleteUberData.Total_Seconds_Diff / 60

CompleteUberData['Speed_MPH'] = CompleteUberData.MILES / CompleteUberData.Total_Hours_diff
print ("CompleteUberData with Speed : \n{0}" .format(CompleteUberData.head(5).T))

CompleteUberData with Speed :
                                      0                    1  \
Trip_Id                               1                    3
START_DATE             01-01-2016 21:11     01-02-2016 20:25
END_DATE               01-01-2016 21:17     01-02-2016 20:38
CATEGORY                       Business             Business
START                       Fort Pierce          Fort Pierce
STOP                        Fort Pierce          Fort Pierce
PURPOSE                  Meal/Entertain      Errand/Supplies
MILES                               5.1                  4.8
start_dt            2016-01-01 21:11:00  2016-01-02 20:25:00
stop_dt             2016-01-01 21:17:00  2016-01-02 20:38:00
start_day                             1                    2
start_hour                           21                   20
start_month                           1                    1
d_of_week                             4                    5
weekday                             Fri                  Sat
cal_month                           Jan                  Jan
Diff                    0 days 00:06:00      0 days 00:13:00
Total_Seconds_Diff                  360                  780
Total_Hours_diff                      6                   13
Speed_MPH                          0.85             0.369231

                                      2                    3  \
Trip_Id                               4                    5
START_DATE             01-05-2016 17:31     01-06-2016 14:42
END_DATE               01-05-2016 17:45     01-06-2016 15:49
CATEGORY                       Business             Business
START                       Fort Pierce          Fort Pierce
STOP                        Fort Pierce      West Palm Beach
PURPOSE                         Meeting       Customer Visit
MILES                               4.7                 63.7
start_dt            2016-01-05 17:31:00  2016-01-06 14:42:00
stop_dt             2016-01-05 17:45:00  2016-01-06 15:49:00
start_day                             5                    6
start_hour                           17                   14
start_month                           1                    1
d_of_week                             1                    2
weekday                             Tue                  Wed
cal_month                           Jan                  Jan
Diff                    0 days 00:14:00      0 days 01:07:00
Total_Seconds_Diff                  840                 4020
Total_Hours_diff                     14                   67
Speed_MPH                      0.335714             0.950746

                                      4
Trip_Id                               6
START_DATE             01-06-2016 17:15
END_DATE               01-06-2016 17:19
CATEGORY                       Business
START                   West Palm Beach
STOP                    West Palm Beach
PURPOSE                  Meal/Entertain
MILES                               4.3
start_dt            2016-01-06 17:15:00
stop_dt             2016-01-06 17:19:00
start_day                             6
start_hour                           17
start_month                           1
d_of_week                             2
weekday                             Wed
cal_month                           Jan
Diff                    0 days 00:04:00
Total_Seconds_Diff                  240
Total_Hours_diff                      4
Speed_MPH                         1.075

In [59]:
# Category start_hour& Purpose
# Most frequent trip category
print ("Most frequent trip category : \n{0}" .format(CompleteUberData.groupby('CATEGORY')['Trip_Id'].count().sort_values(ascending = False)))

Most frequent trip category :
CATEGORY
Business    647
Personal      6
Name: Trip_Id, dtype: int64

In [60]:
#  Most frequent trip purpose
print ("Most frequent trip purpose : \n{0}" .format(CompleteUberData.groupby('PURPOSE')['Trip_Id'].count().sort_values(ascending = False)))

Most frequent trip purpose :
PURPOSE
Meeting            187
Meal/Entertain     160
Errand/Supplies    128
Customer Visit     101
Temporary Site      50
Between Offices     18
Moving               4
Airport/Travel       3
Commute              1
Charity ($)          1
Name: Trip_Id, dtype: int64

In [61]:
# Miles driven per category 
print ("Miles driven per category : \n{0}" .format(CompleteUberData.groupby('CATEGORY')['MILES'].sum().sort_values(ascending = False)))

Miles driven per category :
CATEGORY
Business    7097.7
Personal     213.5
Name: MILES, dtype: float64

In [62]:
# Miles driven per purpose 
print ("Miles driven per purpose : \n{0}" .format(CompleteUberData.groupby('PURPOSE')['MILES'].sum().sort_values(ascending = False)))

Miles driven per purpose :
PURPOSE
Meeting            2851.3
Customer Visit     2089.5
Meal/Entertain      911.7
Temporary Site      523.7
Errand/Supplies     508.0
Between Offices     197.0
Commute             180.2
Moving               18.2
Airport/Travel       16.5
Charity ($)          15.1
Name: MILES, dtype: float64

In [63]:
# What is percentage of business miles vs personal?
categoryData = CompleteUberData.groupby('CATEGORY').agg({'MILES': 'sum'})
print (categoryData.head())
TotalMilesDriven = categoryData.MILES.sum()

categoryData['% of Miles'] = (categoryData.MILES / TotalMilesDriven)* 100
print (categoryData.head())

newDF = CompleteUberData.groupby('CATEGORY').agg({'MILES' : 'sum'})
updatedDF = newDF.apply(lambda x : x /x.sum() * 100).rename(columns = {'MILES' : '% of MILES'})
print ("Data frame : \n{0}" .format(updatedDF))

           MILES
CATEGORY
Business  7097.7
Personal   213.5
           MILES  % of Miles
CATEGORY
Business  7097.7   97.079823
Personal   213.5    2.920177
Data frame :
          % of MILES
CATEGORY
Business   97.079823
Personal    2.920177